Flask==3.0.3
gunicorn==22.0.0
google-genai==2.18.1
llama_index==0.14.24
llama-index-embeddings-text-embeddings-inference==0.6.0
llama-index-vector-stores-postgres==0.8.1
llama-index-llms-gemini==0.6.2
protobuf==4.25.9
supabase==2.31.0
psycopg2-binary==2.9.12